body {
    text-align: center; 
    font-family:"playfair display";
    padding:0; 
    margin:0; 
}

form h1 {
    font-size:24px; 
    text-align: center; 
    color:rgba(125, 37, 207, 0.613);
    
}  

 form button {
    width: 150px;
    height: 40px;
    cursor: pointer;
    border: 1px solid rgba(128, 0, 128, 0.401);;
    border-radius: 8px;
    background-color: #edcff3;
    font-size: 16px; 
    margin-top:10px;
    margin:5px; 
    transition: all 0.3s ease; 
    color:rgba(85, 4, 160, 0.613);
} 

 button:hover {
    background-color:rgb(219, 55, 219);
    
} 

#start-over  {
    width: 150px;
    height: 40px;
    cursor: pointer;
    border: 1px solid rgba(128, 0, 128, 0.401);;
    border-radius: 8px;
    background-color: transparent;
    font-size: 16px; 
    margin-top:10px;
    margin:5px; 
    transition: all 0.3s ease; 
    color:rgba(85, 4, 160, 0.613);
}  

#start-over:hover {
        background-color:rgb(219, 55, 219);

}



.block {
    width:150px;
    height:120px; 
    border:none;

}

.flex {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .flex {
    flex-direction: row; 
    align-items: flex-start;
  }

  header, section {
    width: 50%;
    text-align: center;
  }
}
 img {
    border-radius:10px;
 }

.wrap { 
    color:rgb(165, 80, 174);
    border: 1px solid purple;
    width:250px; 
    background-color: rgb(233, 223, 243); 
    
}

section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.wrap {
  margin: 0 auto;
  max-width: 280px;
  padding: 20px;
  display: block;
}

#start-over {
  display: block;
  margin: 20px auto;
}
