
* {
    padding:0; 
    margin:0; 
    
} 

body {
    text-align: center;
}

form h1 {
    font-size:24px; 
    text-align: center;
}  

 button {
    width: 200px;
    height: 40px;
    cursor: pointer;
    margin: 20px auto; /* auto centers the button horizontally */
    display: block;    /* needed for margin auto to work */
    border: none;
    border-radius: 8px;
    background-color: #f3cfcf;
    font-size: 16px;
}

